/*This is the style sheet for my website
This container line is simply for debugging purposes
*/

/*#container{
	
	width:1520px;
	height:500px;
	position: relative;
}*/

#Discord{
	
	right:190;
	bottom:0;
	position: absolute;
}

#suggestions{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 14px;
	right: 20;
	bottom: 100;
	position: absolute;
}

#websiteOwner{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 12px;
	right: 455;
	bottom: 0;
	position: absolute;
}

#discordName{
	
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	right:50;
	bottom:40;
	position:absolute;
}

.nav {
	padding-left:500px;
}

.nav li{
	display: inline;
}

.nav li a{
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	border-bottom: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.nav li a:hover{
	background-color: #9B1C26;
	padding-bottom: 12px;
	border-bottom: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	margin: -1px;
}