/*This is the style sheet for my website
This container line is simply for debugging purposes
*/

/*#container{
	
	width:1520px;
	height:500px;
	position: relative;
}*/

/*This is for contact information*/
#Discord{
	right:190;
	bottom:25;
	position:absolute;
}


#suggestions{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 12px;
	right: 20;
	bottom: 100;
	position: absolute;
}

#websiteOwner{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 12px;
	right: 455;
	bottom: 0;
	position: absolute;
}

#discordName{
	
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	right:50;
	bottom:40;
	position:absolute;
}

/*This is for the updates pertaining to the website*/
#updates{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	left: 10;
	top: 400;
	position: absolute;
}

#Dt1{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 18px;
	left: 10;
	top: 420;
	position: absolute;
}

#Dp1{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 14px;
	left: 10;
	top: 440;
	position: absolute;
}

#Dt2{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 18px;
	left: 10;
	top: 460;
	position: absolute;
}

#Dp2{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 14px;
	left: 10;
	top: 480;
	position: absolute;
}

#Dt3{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 18px;
	left: 10;
	top: 515;
	position: absolute;
}

#Dp3{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 14px;
	left: 10;
	top: 535;
	position: absolute;
}

/*This is for adjusting the nav bar*/
.nav {
	padding-left:500px;
}

.nav li{
	display: inline;
}

.nav li a{
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	border-bottom: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.nav li a:hover{
	background-color: #9B1C26;
	padding-bottom: 12px;
	border-bottom: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	margin: -1px;
}

/*This is for formatting the website elements to smaller screens*/
@media screen and (max-width:1166px) {
	.nav{ 
		padding-left:300px;
	}
	.nav li a{
		font-size: 30px;
	}
	#websiteOwner{
		right: 200;
	}
}

@media screen and (max-width:1024px) {
	.nav{
		padding-left:280px;
	}
}

@media screen and (max-width:980px) {
       .nav{
		padding-left:185px;
	}
}

@media screen and (max-width:767px) {
        .nav{
		padding-left:135px;
	}
	.nav li a {
		font-size: 20px;
	}
}

@media screen and (max-width:599px) {
        .nav{
		padding-left:120px;
	}
	.nav li a{
		font-size: 10px;
	}
}

@media screen and (max-width:479px) { /*This is for iPhone6*/
    .nav{
		padding-left:60px;
	}
	.nav li a{
		font-size: 25px;
		text-decoration: none;
		float: center;
		padding: 10px;
		background-color: #333333;
		color: #ffffff;
		border-bottom: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
	}
	#websiteOwner{
		right:0;
		font-size: 10px;
		text-align:center;
	}
	#Discord{
		display: none;
	}
	#discordName{
		display: none;
	}
	#suggestions{
		display:none;
	}
	#updates{
		text-align:center;
		top: 170;
		left: 120;
	}
	#Dt1{
		text-align:center;
		top: 200;
		left: 50;
	}
	#Dp1{
		text-align:center;
		top: 220;
		left: 0;
	}
	#Dt2{
		text-align:center;
		top: 260;
		left: 100;
	}
	#Dp2{
		text-align:center;
		top: 280;
		left: 10;
	}
	#Dt3{
		text-align:center;
		top: 320;
		left: 140;
	}
	#Dp3{
		text-align:center;
		top: 340;
		left: 55;
	}
	
}